In [1]:
import pandas as pd
from itertools import combinations
from collections import Counter

In [4]:
data = pd.read_csv('Assignment-1_Data.csv', sep=';')
data.head()

/var/folders/rh/ccgks2ks04n1_x1vxjpw1h980000gn/T/ipykernel_35556/835144831.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Assignment-1_Data.csv', sep=';')

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom

In [5]:
# Fungsi untuk menghitung kombinasi item dengan cara yang lebih efisien
def count_combinations_efficient(group, max_length=5):
    items = list(group['Itemname'])
    if len(items) > max_length:
        items = items[:max_length]  # Memotong item jika melebihi batas maksimum
    all_combinations = []
    for i in range(1, min(len(items), max_length) + 1):
        all_combinations.extend(combinations(items, i))
    return Counter(all_combinations)

In [6]:
# Mengelompokkan data berdasarkan BillNo dan menerapkan fungsi count_combinations_efficient
grouped_data_efficient = data.groupby('BillNo').apply(count_combinations_efficient)

In [7]:
# Menggabungkan Counter objek
global_combinations_efficient = Counter()
for counter in grouped_data_efficient:
    global_combinations_efficient.update(counter)

In [8]:
# Mengambil 5 kombinasi teratas untuk setiap panjang dari 1 hingga 5
top_combinations_efficient = {length: global_combinations_efficient.most_common(5) for length in range(1, 6)}

In [12]:
# Mengonversi hasil ke dalam DataFrame untuk tampilan yang lebih rapi
df_combinations = pd.DataFrame([(length, combo, count) for length, combos in top_combinations_efficient.items() for combo, count in combos], columns=['Length', 'Combination', 'Frequency'])

In [13]:
df_combinations.head()

   Length                            Combination  Frequency
0       1                                 (nan,)       1455
1       1  (WHITE HANGING HEART T-LIGHT HOLDER,)        601
2       1            (REGENCY CAKESTAND 3 TIER,)        572
3       1             (JUMBO BAG RED RETROSPOT,)        467
4       1                       (PARTY BUNTING,)        455